<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MSB Mark</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('watermarking_bp.static', filename = 'WM1.ico') }}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('watermarking_bp.static', filename = 'reset.css') }}" />
      <link rel="stylesheet" type="text/css" href="{{ url_for('watermarking_bp.static', filename = 'navbar-short-menu.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('watermarking_bp.static', filename = 'watermarking.css') }}" />
      <link rel="stylesheet" type="text/css" href="{{ url_for('watermarking_bp.static', filename = 'footer.css') }}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a class="navlogo">WaterMark Studio</a>
        <div class="navWrap">
          <a href="/" class="navlink">Home</a>
          <a href="#" class="navlink">My Profile</a>
          <a href="#" class="navlink">About</a>
          <a href="#" class="navlink">Contact us</a>
        </div>
        <div class="logoutContainer">
          <a class="link" href="{{ url_for('registration_bp.logout') }}">
            <span class="link--top">Logout</span>
            <span class="link--bottom">Logout</span>
          </a>
        </div>
      </nav>
    </header>
    <main>
      <div class="branding">
        <p class="branding_content">
          <img src="{{ url_for('watermarking_bp.static', filename = 'images/WM1.png') }}" alt="LOGO" />
        </p>
      </div>

      <!-- Landing -->

      <section class="landingText">
        <h1 class="landingText_title navlogo">MSB Mark</h1>
        <h2 class="landingText_subtitle subtitle">
          /Most Significant Bit Mark/
        </h2>
        <p class="landingText_desc desc">
          Introducing our Image Security Suite – effortlessly encrypt and
          decrypt images with discreet watermarks seamlessly embedded. Our
          innovative technology ensures top-tier encryption while preserving
          authenticity through subtle, image-within-image watermarks. Elevate
          your digital security in just a few clicks, striking the perfect
          balance between protection and aesthetic appeal.
        </p>
      </section>

      <!-- Tutorial -->

      <section class="tutorial">
        <h2 id="tutorial_subtitle" class="tutorial_subtitle subtitle">
          Watch the tutorial
        </h2>
        <p id="tutorial_desc" class="tutorial_desc desc">
          Unlock the full potential of your MSB Mark experience with our
          comprehensive tutorial videos. Whether you're a seasoned user or a
          newcomer, our step-by-step guides will empower you to navigate the
          intricacies of our site effortlessly.
        </p>

        <iframe
          id="videoTutorial"
          class="videoTutorial"
          src="https://www.youtube-nocookie.com/embed/WMhWQQveI4Y?si=iqQLGmiCGlr1FD_m"
          title="MSB Mark tutorial"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </section>

      <!-- Encrypt form -->

      <section class="Forms">
        <h2 id="Forms_title" class="Forms_subtitle subtitle">Embed</h2>
        <section class="Forms_content">
          <article class="Forms_desc desc">
            <h3 id="Forms_subtitle1" class="Forms_insideTitle subtitle">
              Step 1: Select Your Base Image
            </h3>
            <p id="Forms_desc1">
              Begin by choosing the image you want to use as the foundation for
              your encrypted masterpiece.
            </p>
            <h3 id="Forms_subtitle2" class="Forms_insideTitle subtitle">
              Step 2: Choose Your Secret Image
            </h3>
            <p id="Forms_desc2">
              Next, select the image you wish to encrypt within the base image.
              This could be a confidential document, your logo, a personal
              photo, or any visual content you want to keep securely hidden.
            </p>
            <!-- <h3 class="Forms_insideTitle subtitle">
              Step 3: Set a Secure Password
            </h3>
            <p>
              Enhance the security of your encrypted image by setting a strong,
              unique password. This password will be required to decrypt and
              reveal the hidden content.
            </p> -->
            <h3 id="Forms_subtitle3" class="Forms_insideTitle subtitle">
              Step 3: Generate Your Encrypted Image
            </h3>
            <p id="Forms_desc3">
              Once satisfied with your settings, hit the "Encrypt" button. Watch
              as MSB Mark seamlessly combines your base and secret images,
              creating a visually indistinguishable encrypted image.
            </p>
          </article>

          <form
            id="form1"
            class="form"
            action="/processingImage"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="input-container">
              Image1:
              <input class="input" type="file" id="image1" name="image1" onchange="loadFile(this)" />
            </div>
            <div class="input-container">
              Image2:
              <input class="input" type="file" id="image2" name="image2" onchange="loadFile(this)" />
            </div>
            <button class="submit">Encrypt</button>
          </form>
        </section>
      </section>
          <section>
              <img id="image1_preview"/>
              <img id="image2_preview"/>
          </section>

      <!-- Decrypt form -->

      <section class="Forms short">
        <h2 id="Forms2_title" class="Forms_subtitle subtitle">Extract</h2>
        <section class="Forms_content">
          <article class="Forms_desc">
            <h3 id="Forms2_subtitle1" class="Forms_insideTitle subtitle">
              Step 1: Upload the encrypted image
            </h3>
            <p id="Forms2_desc1">
              Start with the uploading of the encrypted image that you wish to
              unveil. This is the image you previously created through our
              encryption studio.
            </p>
            <!-- <h3 class="Forms_insideTitle subtitle">
              Step 2: Enter Your Password
            </h3>
            <p>
              Unlock the encrypted content by entering the secure password you
              set during the encryption process. This password serves as the key
              to decrypting and revealing the hidden image.
            </p> -->
            <h3 id="Forms2_subtitle2" class="Forms_insideTitle subtitle">
              Step 2: Initiate Decryption
            </h3>
            <p id="Forms2_desc2">
              Click on the "Decrypt" button to initiate the decryption process.
              WaterMark Studio will seamlessly extract the concealed image from
              within the encrypted file, restoring it to its original form.
            </p>
          </article>

          <form
            id="form2"
            class="form"
            action="/processingImageBack"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="input-container">
              Image:
              <input class="input" type="file" id="image" name="image" onchange="loadFile(this)" />
            </div>
            <!-- <div class="passCreate">
              <div class="input-container">
                <input class="input" type="password" placeholder=" " />
                <div class="cut"></div>
                <label for="Password" class="placeholder"
                  >Enter Your Password</label
                >
              </div>
            </div> -->
            <button class="submit">Decrypt</button>
          </form>
        </section>
      </section>
        <section>
              <img id="image_preview"/>
          </section>

      <!-- return to top button -->
      <a id="toTopBTN" href="#" class="toTopBTN"
        ><i class="fa-solid fa-arrow-up"></i
      ></a>
    </main>

    <footer class="footer">
      <div class="logoSection">
        <a class="navlogo footerLogo" href="#">WaterMark Studio</a>
        <span class="rights"
          >Copyright © 2023 WaterMark Studio All Rights Reserved.</span
        >
      </div>

      <div class="footerLinks">
        <div class="footerGroup">
          <p class="footerTitle">Pages</p>
          <ul class="navlinkwrap">
            <li href="/" class="navlink small">Home</li>
            <li href="#" class="navlink small">My Profile</li>
            <li href="#" class="navlink small">About</li>
            <li href="#" class="navlink small">Contact us</li>
          </ul>
        </div>

        <div class="footerGroup">
          <p class="footerTitle">Media</p>
          <ul class="navlinkwrap">
            <li href="#" class="navlink small">Facebook</li>
            <li href="#" class="navlink small">GitHub</li>
            <li href="#" class="navlink small">Instagram</li>
            <li href="#" class="navlink small">Twitter</li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="{{ url_for('watermarking_bp.static', filename='windowInteractionsWM.js') }}"></script>
  </body>
</html>
