<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('watermarking_bp.static', filename = 'watermarking.css') }}">
    <title>Service 1</title>
</head>
<body>
    <header>
        <h1>Service 1</h1>
    </header>
    <form action="/processing" method="POST" enctype="multipart/form-data">
        <label for="wm_text">WM text:</label>
        <input type="text" name="wm_text" id="wm_text">
        <label for="image">Image:</label>
        <input type="file" name="image" id="image">
        <button type="submit">OK</button>
    </form>
    <hr>
    <form action="/processingBack" method="POST" enctype="multipart/form-data">
        <label for="image_back">Image:</label>
        <input type="file" name="image_back" id="image_back">
        <button type="submit">OK</button>
    </form>
</body>
</html>
