{% extends 'base_reg.html' %}

{% set params = {
    'title'   : 'Sign Up',
    'form_url': '/register',
    'active'  : 2
} %}
{% block css %}

{% endblock %}

{% block main %}
    {% block addFields %}
    <div class="input-container">
      <input
      type="text"
      id="name"
      class="input fadeIn second"
      name="name"
      placeholder=" "
      required
      autocomplete="name"
      />
      <div class="cut cut-short"></div>
      <label class="placeholder" for="name">Name</label>
    </div>
    {% endblock %}
{% endblock %}