@font-face {
  font-family: Poppins;
  src: url(Poppins-Bold.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(0.25turn, #000122, #000118);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navigation */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  width: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 255, 255, 0.7);
  transition: all 200ms ease;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar:hover {
  box-shadow: 0px 10px 20px 2px rgba(0, 255, 255, 0.7);
}

.navbar {
  .createbtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 126px;
    height: 45px;
    color: #bcbcbc;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    &.selectedbtn {
      border: 1px solid #d7d7d7;
      border-radius: 10px;
    }
  }
  .navlogo {
    height: 100%;
    background: linear-gradient(93.51deg, #9b51e0 4%, #3081ed 99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
  }

  .navlogo:hover {
    cursor: pointer;
  }

  .navlink {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #bcbcbc;
    &.selectedlink {
      background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-bottom: 1.5px solid #9b51e0;
    }
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}

/* Description */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin-top: 50px;
}

.title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 3em;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.subtitle {
  font-family: Poppins;
  font-weight: 300;
  font-style: italic;
  font-size: 1.5em;
  margin-top: -1em;
  text-shadow: 0 0 25px blue, 0 0 5px darkblue;
}

.text {
  font-family: Poppins;
  font-weight: 100;
  font-size: 1em;
  margin-top: -0.8em;
  text-align: center;
  text-shadow: 0 0 5px darkblue;
}

.ol {
  text-align: start;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 2;
  white-space: initial;
  margin: 50px;
}

.infobox {
  animation-name: leftslide;
  animation-duration: 0.8s;
  max-height: 500px;
  max-width: 50%;
}

.selected {
  background-image: linear-gradient(
    to right,
    #52009e,
    #9b51e0,
    rgba(48, 129, 237, 0.8),
    #00f300,
    #d9ff00b6
  );
  background-size: 300%;
}

.selected:hover {
  animation-name: selectedRotateAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.display {
  animation-name: rightslide;
  animation-duration: 0.8s;
  rotate: 4deg;
  padding: 14px;
  border: 1px solid;
  border-radius: 35px;
  max-height: 450px;
  max-width: 50%;
  overflow: hidden;
  width: 500px;
  height: 500px;
  object-fit: fill;
}

.infobox-createbtn,
.infobox-explorebtn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: -1px;
  color: #ffffff;
  padding: 8px 38px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.infobox-createbtn {
  margin-right: 20px;
  background-color: transparent;
  border: 1px solid #d7d7d7;
}

.infobox-explorebtn {
  background-color: #009bf5af;
}

.infobox-btnwrapper {
  display: flex;
}

.started {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  scale: 1.5;
}

.started-items::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  top: 80px;
  filter: blur(80px);
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
}

.started-items {
  padding: 60px 80px;
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: space-between;
}

.itemwrapper p {
  width: 100px;
  margin: 0;
  margin-top: 10px;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  margin-right: 50px;
}
.started-items-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 18px;
  background-color: red;
  background: rgba(255, 255, 255, 0.095);
  box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17),
    inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(74.4293px);
}

.started-items-item * {
  scale: 2;
  color: #000118;
  --fa-animation-duration: 2s;
}

/* Background */

.dot1,
.dot2,
.dot3,
.dot4,
.dot5 {
  content: "";
  position: absolute;
  z-index: -100;
  animation-iteration-count: infinite;
}

.dot1 {
  width: 123px;
  height: 123px;
  left: 60%;
  top: 138px;
  filter: blur(50px);
  background-color: #fc37ffee;
  animation-name: animateDot1;
  animation-duration: 5s;
  animation-timing-function: linear;
}

.dot2 {
  width: 523px;
  height: 523px;
  left: 80%;
  top: 138px;
  filter: blur(150px);
  background-color: #0502ceb4;
  animation-name: animateDot2;
  animation-duration: 9s;
  animation-timing-function: linear;
}

.dot3 {
  width: 50px;
  height: 50px;
  left: 20%;
  top: 700px;
  filter: blur(40px);
  background-color: #34d40c;
  animation-name: animateDot3;
  animation-duration: 20s;
  animation-timing-function: ease;
}

.dot4 {
  width: 600px;
  height: 600px;
  left: -25%;
  top: 1000px;
  filter: blur(150px);
  background-color: #75006fe7;
  animation-name: animateDot4;
  animation-duration: 30s;
  animation-timing-function: ease-in-out;
}

.dot5 {
  width: 100px;
  height: 100px;
  left: 65%;
  top: 900px;
  filter: blur(40px);
  background-color: #00eeff;
  animation-name: animateDot5;
  animation-duration: 30s;
  animation-timing-function: ease-out;
}

html {
  overflow-x: hidden;
  white-space: nowrap;
}

/* Hide vertical scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide vertical scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* ---------------------------------ANIMATIONS--------------------------------- */

@keyframes animateDot1 {
  0% {
    filter: blur(50px);
  }
  50% {
    filter: blur(70px);
  }
  100% {
    filter: blur(50px);
  }
}

@keyframes animateDot2 {
  0% {
    left: 80%;
    top: 138px;
  }
  25% {
    left: 80%;
    top: 158px;
    background-color: #6664f8e5;
  }
  50% {
    left: 70%;
    top: 158px;
  }
  75% {
    left: 65%;
    top: 122px;
    background-color: #0502ceb4;
  }
  100% {
    left: 80%;
    top: 138px;
  }
}

@keyframes animateDot3 {
  0% {
    left: 20%;
    top: 700px;
    width: 50px;
    height: 50px;
  }
  15% {
    left: 21%;
    top: 712px;
    width: 55px;
    height: 58px;
  }
  25% {
    left: 22%;
    top: 699px;
  }
  35% {
    left: 21%;
    top: 705px;
    width: 81px;
    height: 90px;
    background-color: #33ff00;
  }
  50% {
    left: 20%;
    top: 700px;
    width: 50px;
    height: 50px;
    background-color: #27a807;
  }

  75% {
    left: 18%;
    top: 652px;
    width: 30px;
    height: 30px;
    filter: blur(20px);
    background-color: #33ff00;
  }
  80% {
    width: 70px;
    height: 70px;
    background-color: #27a807;
  }
  91% {
    left: 19%;
    top: 705px;
    width: 81px;
    height: 90px;
    background-color: #33ff00;
  }
  100% {
    left: 20%;
    top: 700px;
    width: 50px;
    height: 50px;
  }
}

@keyframes animateDot4 {
  0% {
    left: -25%;
    top: 1000px;
    filter: blur(150px);
  }
  50% {
    left: -10%;
    top: 1000px;
    filter: blur(200px);
    background-color: #aa04a2;
  }
  100% {
    left: -25%;
    top: 1000px;
    filter: blur(150px);
  }
}

@keyframes animateDot5 {
  0% {
    filter: blur(40px);
    background-color: #00eeff;
  }
  50% {
    width: 500px;
    height: 500px;
    filter: blur(250px);
    background-color: #00eeff;
  }
  100% {
    width: 100px;
    height: 100px;
    filter: blur(40px);
    background-color: #00eeff;
  }
}

@keyframes leftslide {
  from {
    transform: translateX(-700px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes rightslide {
  from {
    transform: translateX(550px);
    rotate: -10deg;
  }
  to {
    transform: translateX(0px);
    rotate: 4deg;
  }
}

@keyframes selectedRotateAnimation {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
