@media screen and (max-width: 1900px) {
  #desc {
    scale: 0.8;
    margin-top: -50px;
  }
}

@media screen and (max-width: 1450px) {
  #desc {
    scale: 0.7;
    margin-top: -100px;
  }
}

@media screen and (max-width: 1300px) {
  #desc {
    scale: 0.6;
    margin-top: -100px;
  }
}

@media screen and (max-width: 1100px) {
  #desc {
    scale: 0.5;
    margin-top: -200px;
  }
}

@media screen and (max-width: 900px) {
  #desc {
    scale: 0.4;
    margin-top: -300px;
  }
}
