@media screen and (max-width: 1900px) {
  #desc {
    scale: 0.8;
    margin-top: -50px;
  }
}

@media screen and (max-width: 1450px) {
  #desc {
    scale: 0.7;
    margin-top: -100px;
  }
}

@media screen and (max-width: 1300px) {
  #desc {
    scale: 0.6;
    margin-top: -100px;
  }
}

@media screen and (max-width: 1100px) {
  #desc {
    scale: 0.5;
    margin-top: -200px;
  }
}

@media screen and (max-width: 900px) {
  #desc {
    scale: 0.4;
    margin-top: -300px;
  }
}

@media only screen and ((min-width: 2000px) or (min-height: 1250px)) {
  .box {
    scale: 1.15;
    margin-top: 250px;
    margin-bottom: 250px;
  }

  .infobox {
    position: relative;
    left: 15%;
  }

  .started {
    margin-top: 300px;
    scale: 1.5;
  }

  .title {
    font-size: 4em;
  }

  .subtitle {
    font-size: 2em;
  }

  .infobox-createbtn,
  .infobox-explorebtn {
    scale: 1.4;
  }

  .infobox-createbtn {
    margin-right: 75px;
  }

  .display {
    width: 750px;
    height: 750px;
  }
}
