{% extends 'base_core.html' %}

{% set params = {
    'title'   : 'За Нас',
    'active'  : 3
} %}
{% block css %}
 <link rel="stylesheet" type="text/css" href="{{ url_for('core_bp.static', filename='reset.css') }}"/>
 <link rel="stylesheet" type="text/css" href="{{ url_for('watermarking_bp.static', filename='watermarking.css') }}"/>
 <link rel="stylesheet" type="text/css" href="{{ url_for('watermarking_bp.static', filename='WatermarkingMedia.css') }}"/>
{% endblock %}

{% block main %}
  <main style="height: 65vh; padding-left: 40px; padding-right: 40px">
      <h1 class="navlink selectedlink" style="border-bottom: none">За Нас</h1>
       <div id="mission">
        <h2>Нашата Мисия</h2>
        <p>Ние сме вдъхновени ученици, следващи своето образование в областта на приложното програмиране в ПМГ "Васил Друмев" гр. Велико Търново. Нашата мисия е да разработваме иновативни технологии, които подобряват сигурността на данните и предоставят нови начини за сигурно предаване на поверителна информация.</p>
    </div>

    <div id="goal">
        <h2>Нашата Цел</h2>
        <p>Нашето дългосрочно предизвикателство и проект включват създаването на платформа, която се фокусира върху сигурността на данните чрез иновативен стеганографски метод. Ние вярваме, че силата на технологията ще доведе до значима промяна и до справяне с проблеми от света.</p>
    </div>

    <div>
        <h2>Нашата Мисия</h2>
        <p>Ние се стремим да предоставим на потребителите високо ниво на сигурност и лесен начин за предаване на поверителна информация чрез иновативни технологии.</p>
    </div>

    <div>
        <h2>Нашият Стремеж</h2>
        <p>Нашият стремеж е да създадем платформа, която не само предлага ефективни решения, но и вдъхновява младите умове да изследват света на програмирането и криптографията. Искаме да създадем образователно пространство, където талантливите ученици да изразяват и развиват своите идеи.</p>
    </div>




  </main>
{% endblock %}



