<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
      <link rel="icon" type="image/x-icon" href="{{ url_for('core_bp.static', filename='images/WM1.ico') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('core_bp.static', filename='reset.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('core_bp.static', filename='header.css') }}"/>
      <link rel="stylesheet" type="text/css" href="{{ url_for('core_bp.static', filename='loader.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('core_bp.static', filename='global.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('watermarking_bp.static', filename='watermarking.css') }}"/>
      <link rel="stylesheet" type="text/css" href="{{ url_for('watermarking_bp.static', filename='WatermarkingMedia.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('core_bp.static', filename='footer.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
  </head>
  <body>
    <header id="navbar" class="navbar">
      <div class="mobileLeftSide">
        <div id="bars" class="bars">
          <div id="bar1" class="bar"></div>
          <div id="bar2" class="bar"></div>
          <div id="bar3" class="bar"></div>
        </div>
        <a class="navlogo"> WaterMark Studio</a>
      </div>

      <div class="navWrap">
        <a href="/" class="navlink ">Home</a>
        <a href="#" class="navlink underBuild">My Profile</a>
        <a href="/about" class="navlink selectedlink">About</a>
        <a href="#" class="navlink underBuild">Contact us</a>
      </div>
      <div class="sidebar">
        <div class="dropdown">
          <label id="dropdown__face" class="dropdown__face" for="dropdown">
            <div class="buttonwrap">
              <span class="dropdown__text navlogo">CREATE </span>
              <i class="fa-solid fa-chevron-down"></i>
            </div>
          </label>

          <ul id="dropdown__items" class="dropdown__items">
            <li>
              <a class="sidelink" href="/textWatermark">RSH Mark</a>
            </li>
            <li><a class="sidelink" href="/imageWatermark">MSB Mark</a></li>
          </ul>
        </div>
        <div class="logoutContainer">
          <a class="link" href="{{ url_for('registration_bp.logout') }}">
            <span class="link--top">Logout</span>
            <span class="link--bottom">Logout</span>
          </a>
        </div>
      </div>
    </header>



  <main style="height: 65vh; padding-left: 40px; padding-right: 40px">
      <h1 class="navlink selectedlink" style="border-bottom: none">About Us</h1>
       <div id="mission">
        <h2>Our Mission</h2>
        <p>We are passionate students, pursuing our education in the field of applied programming at PMG "Vasil Drumev" in Veliko Tarnovo. Our mission is to develop innovative technologies that enhance data security and provide new ways to transmit confidential information securely.</p>
    </div>

    <div id="goal">
        <h2>Our Goal</h2>
        <p>Our long-term challenge and passionate project involve creating a platform that focuses on data security through an innovative steganography method. We believe in the power of technology to bring about meaningful change and address real-world issues.</p>
    </div>

    <div>
        <h2>Our Vision</h2>
        <p>We aim to provide users with a high level of security and an easy way to transmit confidential information through innovative technologies. We believe that technology can be a powerful tool for change and problem-solving.</p>
    </div>

    <div>
        <h2>Our Aspiration</h2>
        <p>Our aspiration is to create a platform that not only offers effective solutions but also inspires young minds to explore the world of programming and cryptography. We want to establish an educational space where talented students can express and develop their ideas.</p>
    </div>

    <p>Thank you for being a part of this exciting project. We look forward to inspiring you with our passion and dedication!</p>


  </main>


      <!-- Background dots -->
      <div class="dot1"></div>
      <div class="dot2"></div>
      <div class="dot3"></div>
      <div class="dot4"></div>
      <div class="dot5"></div>

      <!-- return to top button -->
      <a id="toTopBTN" href="#" class="toTopBTN"
        ><i class="fa-solid fa-arrow-up"></i
      ></a>
    </main>

   <footer class="footer">
      <div class="logoSection">
        <a class="navlogo footerLogo" href="#">WaterMark Studio</a>
        <span class="rights"
          >Copyright © 2023 WaterMark Studio All Rights Reserved.</span
        >
      </div>

      <div class="footerLinks">
        <div class="footerGroup">
          <p class="footerTitle">Pages</p>
          <ul class="navlinkwrap">
            <li href="/" class="navlink small">Home</li>
            <li href="#" class="navlink small underBuild">My Profile</li>
            <li href="#" class="navlink small ">About</li>
            <li href="#" class="navlink small underBuild">Contact us</li>
          </ul>
        </div>

        <div class="footerGroup">
          <p class="footerTitle">Media</p>
          <ul class="navlinkwrap">
            <li href="#" class="navlink small">Facebook</li>
            <li href="https://www.instagram.com/wmarkstudio" class="navlink small">Instagram</li>
            <li href="#" class="navlink small">YouTube</li>
            <li href="#" class="navlink small">Twitter</li>
          </ul>
        </div>
      </div>
    </footer>
    <div id="loader" class="lds-hourglass"></div>
    <script src="{{ url_for('core_bp.static', filename='loading.js') }}"></script>
    <script src="{{ url_for('core_bp.static', filename='global.js') }}"></script>
    <script src="{{ url_for('core_bp.static', filename='windowInteractions.js') }}"></script>
    <script src="{{ url_for('core_bp.static', filename='header.js') }}"></script>
  </body>
</html>

