{% extends 'base_core.html' %}

{% set params = {
    'title'   : 'About',
    'active'  : 3
} %}
{% block css %}
 <link rel="stylesheet" type="text/css" href="{{ url_for('core_bp.static', filename='reset.css') }}"/>
 <link rel="stylesheet" type="text/css" href="{{ url_for('watermarking_bp.static', filename='watermarking.css') }}"/>
 <link rel="stylesheet" type="text/css" href="{{ url_for('watermarking_bp.static', filename='WatermarkingMedia.css') }}"/>
{% endblock %}

{% block main %}
  <main style="height: 65vh; padding-left: 40px; padding-right: 40px">
      <h1 class="navlink selectedlink" style="border-bottom: none">About Us</h1>
       <div id="mission">
        <h2>Our Mission</h2>
        <p>We are passionate students, pursuing our education in the field of applied programming at PMG "Vasil Drumev" in Veliko Tarnovo. Our mission is to develop innovative technologies that enhance data security and provide new ways to transmit confidential information securely.</p>
    </div>

    <div id="goal">
        <h2>Our Goal</h2>
        <p>Our long-term challenge and passionate project involve creating a platform that focuses on data security through an innovative steganography method. We believe in the power of technology to bring about meaningful change and address real-world issues.</p>
    </div>

    <div>
        <h2>Our Vision</h2>
        <p>We aim to provide users with a high level of security and an easy way to transmit confidential information through innovative technologies. We believe that technology can be a powerful tool for change and problem-solving.</p>
    </div>

    <div>
        <h2>Our Aspiration</h2>
        <p>Our aspiration is to create a platform that not only offers effective solutions but also inspires young minds to explore the world of programming and cryptography. We want to establish an educational space where talented students can express and develop their ideas.</p>
    </div>

    <p>Thank you for being a part of this exciting project. We look forward to inspiring you with our passion and dedication!</p>


  </main>
{% endblock %}



