{% extends 'base_core.html' %}

{% set params = {
    'title'   : 'Contact Us',
    'active'  : 4
} %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('core_bp.static', filename='core.css') }}"/>
{% endblock %}
{% block main %}

<section style="height: 70vh">
    <header class="profile-section">
        <h2>About Us</h2>
    </header>
    <section style="display: flex; gap: 15px">
        <section class="profile-section">
            <h2>Contact Information</h2>
            <div class="contact-info">
                <p>Email: teo.vt.bg@gmail.com</p>
                 <p>Name: Teodor Todorov</p>
            </div>
              <br>
             <div class="contact-info">
                <p>Email: stilyan2008@gmail.com</p>
                 <p>Name: Stilyan Atanasov</p>
            </div>
        </section>
    </section>
    </section>
{% endblock %}



