<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Core</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('core_bp.static', filename='core.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ url_for('core_bp.static', filename='media.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  </head>
  <body>



    <nav id="navbar" class="navbar">
      <a class="navlogo">WaterMark Studio</a>

      <i id="dropBars" class="fa-solid fa-bars-staggered"></i>
      <div class="navWrap">
        <a href="#" class="navlink selectedlink">Home</a>
        <a href="#" class="navlink">My Profile</a>
        <a href="#" class="navlink">About</a>
        <a href="#" class="navlink">Contact us</a>
      </div>
      <div class="sidebar">
        <div class="dropdown">
        
          <label id="dropdown__face" class="dropdown__face" for="dropdown">
            <div class="buttonwrap">
              <span class="dropdown__text navlogo">CREATE</span>
            </div>
        
            <span class="dropdown__arrow"></span>
          </label>
        
          <ul id="dropdown__items" class="dropdown__items">
            <li><a href="/textWatermark" style="color: white">RSH Mark</a></li>
            <li><a href="/imageWatermark" style="color: white">MSB Mark</a></li>
            <li style="color: white">3</li>
          </ul>
  
          
        </div>
  
        <button class="createbtn">
          <a href="{{ url_for('registration_bp.logout') }}" class="createbtn"
            >Logout</a
          >
        </button>
      </div>
      
    
    </nav>
    <main>
      <div class="box">
        <div class="infobox">
          <p class="title low">
            Unleash the Power of Invisible Watermarking! 
            Protect Your Images
            with the Invisible Shield
          </p>
          <p class="subtitle lows">
            Are you ready to take your image protection to the next level? Feel
            the power of invisible watermarking with WaterMark Studio. Preserve
            your visual assets, secure your brand, and deter unauthorized use
            like never before.
          </p>
          <div class="infobox-btnwrapper">
            <button class="infobox-createbtn selected">Create</button>
            <button class="infobox-explorebtn">Explore</button>
          </div>
        </div>
        <div class="display"> <img src="{{ url_for('core_bp.static', filename='images/Watermarking logo final.png') }}"  alt="Logo IMG"/></div>
          </div>



      <div class="started">
        <p class="title" style="align-self: center;">Experience the Power</p>
        <div class="started-items">
          <div class="itemwrapper show-on-scroll left">
            <div class="started-items-item "><i class="fa-solid fa-shield fa-beat-fade"></i></div>
            <p>Embed Securely</p>
          </div>
          <div class="itemwrapper show-on-scroll left">
            <div class="started-items-item "><i class="fa-solid fa-user-ninja fa-fade"></i></div>
            <p>Customized Stealth</p>
          </div>
          <div class="itemwrapper show-on-scroll right">
            <div class="started-items-item "><i class="fa-regular fa-compass fa-flip"></i></div>
            <p>Track and Trace</p>
          </div>
          <div class="itemwrapper show-on-scroll right">
            <div class="started-items-item "><i class="fa-solid fa-check fa-shake"></i></div>
            <p>Effortless Integration</p>
          </div>
        </div>

      </div>
 <article id="scrollBox" class="emptyScroller">
        <div id="spaceNeeded" class="spaceNeeded">
          <section tabindex="0" id="whyChoose" class="whyChoose">
            <h2 class="title">Why Choose Invisible Watermarking?</h2>

            <div class="fromThisToThis_section">
              <div class="fromThisToThis_element">
                <h2 class="fromThisToThisHeadline title titleFadeIn">FROM THIS</h2>
                <div class="imgs">
                  <img id="fromIMGFirst" class="fromIMG first" src="{{ url_for('core_bp.static', filename='images/imgFrom0.png') }}" alt="IMG">
                  <img id="fromIMGSecond" class="fromIMG second" src="{{ url_for('core_bp.static', filename='images/imgFrom1.png') }}" alt="IMG">
                  <img id="fromIMGThird" class="fromIMG third" src="{{ url_for('core_bp.static', filename='images/imgFrom2.png') }}" alt="IMG">
                </div>
                </div>
                <div class="textBox">
                  <p id="textParagraph" class="describerText f">
                    Discover the power while scrolling in this section...
                </p>
                <button class="btn3">Create</button>
                </div>

              <div class="fromThisToThis_element">
                <h2 class="fromThisToThisHeadline title">TO THIS</h2>
                <div class="imgs">
                  <img id="toIMGFirst" class="toIMG first" src="{{ url_for('core_bp.static', filename='images/imgFrom0.png') }}" alt="IMG">
                  <img id="toIMGSecond" class="toIMG second" src="{{ url_for('core_bp.static', filename='images/imgFrom1.png') }}" alt="IMG">
                  <img id="toIMGThird" class="toIMG third" src="{{ url_for('core_bp.static', filename='images/imgFrom2.png') }}" alt="IMG">
                </div>
              </div>
            </div>
          </section>
        </div>
      </article>

      <!-- Description -->

      <div id="desc">

        <h2 class="title">Feel the Power, Protect Your Legacy</h2>
        <p class="text">
          Your images are more than just pixels; they're a part of your legacy.
          With WaterMark Studio's invisible watermarking, you're not just
          protecting images; you're securing your creative heritage.
        </p>

        <br />
        <br />

        <h4 class="text">
          Unleash the invisible power of protection with WaterMark Studio.
        </h4>

        <br />
        <button class="btn">Get Started</button>
        <br />
        <br />

        <h4 class="text">Experience the Unseen</h4>
      </div>


      <!-- Background dots -->
      <div class="dot1"></div>
      <div class="dot2"></div>
      <div class="dot3"></div>
      <div class="dot4"></div>
      <div class="dot5"></div>

      <!-- return to top button -->
         <a id="toTopBTN" href="#" class="toTopBTN"><i class="fa-solid fa-arrow-up"></i></a>
    </main>

<footer class="footer">

  <div class="logoSection">
    <a class="navlogo footerLogo" href="#">WaterMark Studio</a>
    <span class="rights">Copyright © 2023 WaterMark Studio All Rights Reserved.</span>
  </div>

<div class="footerLinks">
  <div class="footerGroup">
  <p class="footerTitle">Pages</p>
  <ul class="navlinkwrap">
      <li href="#" class="navlink selectedlink small">Home</li>
      <li href="#" class="navlink small">My Profile</li>
      <li href="#" class="navlink small">About</li>
      <li href="#" class="navlink small">Contact us</li>
  </ul>
</div>

<div class="footerGroup">
  <p class="footerTitle">Media</p>
  <ul class="navlinkwrap">
      <li href="#" class="navlink small">Facebook</li>
      <li href="#" class="navlink small">GitHub</li>
      <li href="#" class="navlink small">Instagram</li>
      <li href="#" class="navlink small">Twitter</li>
  </ul>
</div>
</div>
</footer>

     <script src="{{ url_for('core_bp.static', filename='windowInteractions.js') }}"></script>

  </body>
</html>
