{% extends 'base_core.html' %}

{% set params = {
    'title'   : 'My Profile',
    'active'  : 2
} %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('core_bp.static', filename='core.css') }}"/>
{% endblock %}
{% block main %}

    <section style="height: 70vh">
        <header class="profile-section">
            <h2>About Me</h2>
        </header>
        <section style="display: flex; gap: 15px">
            <section class="profile-section">
                <h2>Profile Picture</h2>
                 <img src="{{profilePicture }}" id="icon" alt="User Icon" />
            </section>

            <section class="profile-section">
                <h2>Contact Information</h2>
                <div class="contact-info">
                    <p>Email: {{ email }}</p>
                     <p>Name: {{ name }}</p>
                </div>
            </section>
        </section>
    </section>
{% endblock %}